
#a01,#a02,#a03,#a04,#a05,#a06{
    justify-content: center;
    padding-right: 20px;
    color: aliceblue;
    text-decoration: none;
} 

#a01:hover,#a02:hover,#a03:hover,#a04:hover,#a05:hover,#a06:hover{

    color: gold;
}
